@page "/AnimalNoise"

@inherits AnimalNoises.Product
@{

}

<h1 style="color:black;">Animal Noises</h1>
<br />

<button class="btn btn-primary" style="background-color:rebeccapurple" @onclick="myAnimal">Animal</button>
<button class="btn btn-primary" style="background-color:rebeccapurple" @onclick="myDog">Dog</button>
<button class="btn btn-primary" style="background-color:rebeccapurple" @onclick="myCat">Cat</button>
<button class="btn btn-primary" style="background-color:rebeccapurple" @onclick="myCow">Cow</button>
<button class="btn btn-primary" style="background-color:rebeccapurple" @onclick="mySheep">Sheep</button>
<button class="btn btn-primary" style="background-color:rebeccapurple" @onclick="myPig">Pig</button>
<button class="btn btn-primary" style="background-color:rebeccapurple" @onclick="myLion">Lion</button>

<br />
<br />
<p>Make: @AnimalNoise </p>
