@page "/bio"

<h1 style="color:black;">Bio</h1>

<p>Output: @OutputName </p>

<p>Output: @OutputAge </p>

<p>Output: @OutputGender </p>

<p>Output: @OutputHeight </p>

<p>Output: @OutputWeight </p>

@code

{
   

    class Biography

    {

       string name;
       string age;
       string gender;
       string height;
       string weight;

    private string OutputName { get; set; }
    private string OutputAge { get; set; }
    private string OutputGender { get; set; }
    private string OutputHeight { get; set; }
    private string OutputWeight { get; set; }

        void doProcessing()
        {
            OutputName = name.ToString();
            OutputAge = age.ToString();
            OutputGender = gender.ToString();
            OutputHeight = height.ToString();
            OutputWeight = weight.ToString();
        }

    


    static void Main()
    {
        Biography Aaron = new Biography();
        Aaron.name = "Aaron Jones";
        Aaron.age = "21";
        Aaron.gender = "Male";
        Aaron.height = "177 cm";
        Aaron.weight = "88 kg";

        Aaron.doProcessing();

    }

    }

}