@page "/bio"

<h1 style="color:black;">Bio</h1>

<p>Output: @OutputString() </p>
@code
{

    public class Biography

    {

        public string name;
        public int age;
        public string gender;
        public string height;
        public string weight;
        public void OutputString();



        static void Main()
        {
            Biography Aaron = new Biography();
            Aaron.name = "Aaron Jones";
            Aaron.age = 21;
            Aaron.gender = "Male";
            Aaron.height = "177 cm";
            Aaron.weight = "88 kg";

            void OutputString()
            {
                Console.WriteLine(Aaron.name);
                Console.WriteLine(Aaron.age);
                Console.WriteLine(Aaron.gender);
                Console.WriteLine(Aaron.height);
                Console.WriteLine(Aaron.weight);
            }
        }

    }
}
}