@page "/bio"

<h1 style="color:black;">Bio</h1>

<p>Output: @OutputString </p>
@code
{

class Biography

    {

        string name;
        string age;
        string gender;
        string height;
        string weight;
        string OutputString {get; set; }

        string doProcessing(){
        Console.WriteLine(name + "\n" + age + "\n" + gender + "\n" + height +"\n" + weight);
        }




        int Main()
        {
            Biography Aaron = new Biography();
            Aaron.name = "Aaron Jones";
            Aaron.age = "21";
            Aaron.gender = "Male";
            Aaron.height = "177 cm";
            Aaron.weight = "88 kg";

            OutputString = Aaron.doProcessing();
        }

    }
}