@page "/biography"

<h1>Biography</h1>

<p>First number </p>

<input @bind="InputString " />

<p>Second number </p>

<input @bind="InputString2 " />

<button class="btn btn-primary" @onclick="DoProcessing">Do it</button>

<p>Output: @OutputString </p>

@code

{


    public class Car
{
	public string make = "";
	public string model = "";
	public string color = "";
	public string year = "";

	public void print()
	{
		Console.Write("Make: ");
		Console.Write(make);
		Console.Write("\n");
		Console.Write("Model: ");
		Console.Write(model);
		Console.Write("\n");
		Console.Write("Color: ");
		Console.Write(color);
		Console.Write("\n");
		Console.Write("Year: ");
		Console.Write(year);
		Console.Write("\n");
	}

}

public static class GlobalMembers
{
	internal static void Main()
	{
		Car myCar = new Car();
		myCar.make = "Toyota";
		myCar.model = "Corolla";
		myCar.color = "Blue";
		myCar.year = "2018";

		myCar.print();

	}
}

}
