@page "/bmi"

<h1>BMI</h1>

<p> Enter your height in feet and inches and enter in your weight in pounds, then hit the button to find out your BMI. </p>

<p>Feet </p>

<input @bind="InputFeet " />

<p>Inches </p>

<input @bind="InputInches " />

<br />

<p>Pounds </p>

<input @bind="InputPounds " />

<br />
<br />

<button class="btn btn-primary" style="background-color:coral" @onclick="DoBMI">Calculate</button>
<br />

<br />

<p>BMI: @OutputString </p>

<p>Class: @OutputClass </p>

<table style="border:1px solid black; width:100%">
    <tr>
        <th>Class</th>
        <td>Underweight</td>
        <td>Normal</td>
        <td>Overweight</td>
        <td>Obese</td>
        <td>Morbidly Obese</td>
    </tr>
    <tr>
        <th>BMI</th>
        <td style="color:lightsteelblue"> &lt;18.50    </td>
        <td style="color:lawngreen">18.50-24.99    </td>
        <td style="color:yellow">25.00-29.99    </td>
        <td style="color:darkorange">30.00-39.99    </td>
        <td style="color:red">&gt;=40    </td>
    </tr>
</table>

@code

{

    private string InputFeet { get; set; }

    private string InputInches { get; set; }

    private string InputPounds { get; set; }

    private string OutputString { get; set; }

    private string OutputClass { get; set; }

    private void DoBMI()

    {

        double numF = double.Parse(InputFeet);
        double numI = double.Parse(InputInches);
        double numP = double.Parse(InputPounds);
        double numFI;
        double BMI;
        double BMIR;
        double Conversion = 703;

        numFI = (numF * 12) + numI;
        BMI = numP/(numFI)/(numFI)*Conversion;

        BMIR = Math.Round(BMI, 2);

        if (BMIR < 18.50)
        {
            OutputClass = "Underweight";
        }

        else if (BMIR >= 18.50 && BMIR < 25.00)
        {
            OutputClass = "Normal";
        }

        else if (BMIR >= 25.00 && BMIR < 30.00)
        {
            OutputClass = "Overweight";
        }

        else if (BMIR >= 30.00 && BMIR < 40.00)
        {
            OutputClass = "Obese";
        }

        else if (BMIR >= 40.00)
        {
            OutputClass = "Morbidly Obese";
        }


        OutputString = BMIR.ToString();

    }
}
