@page "/calculator"

<h1>Calculator</h1>

<p>First number </p>

<input @bind="InputString " />

<br />

<p>Second number </p>

<input @bind="InputString2 " />

<br />

<br />

<button class="btn btn-primary" style="background-color:red" @onclick="DoAddition">Addition</button>
<button class="btn btn-primary" style="background-color:orange" @onclick="DoSubtraction">Subtraction</button>
<button class="btn btn-primary" style="background-color:green" @onclick="DoMultiplication">Multiplication</button>
<button class="btn btn-primary" style="background-color:blue" @onclick="DoDivision">Division</button>

<br />

<p>Output: @OutputString </p>

@code

{
    //Inputs and Outputs

    ///<summary>
    ///Input first number
    ///</summary>
    private string InputString { get; set; }

    ///<summary>
    ///Input two number
    ///</summary>
    private string InputString2 { get; set; }

    ///<summary>
    ///Output result
    ///</summary>
    private string OutputString { get; set; }


    ///<summary>
    ///Calculate the addition
    ///</summary>
    private void DoAddition()

    {
        ///<summary>
        ///Number one
        ///</summary>
        double num = double.Parse(InputString);

        ///<summary>
        ///Number two
        ///</summary>
        double num2 = double.Parse(InputString2);

        num = num + num2;

        OutputString = num.ToString();

    }

    ///<summary>
    ///Calculate the subtraction
    ///</summary>
    private void DoSubtraction()

    {

        ///<summary>
        ///Number one
        ///</summary>
        double num = double.Parse(InputString);

        ///<summary>
        ///Number two
        ///</summary>
        double num2 = double.Parse(InputString2);

        num = num - num2;

        OutputString = num.ToString();

    }

    ///<summary>
    ///Calculate the multiplication
    ///</summary>
    private void DoMultiplication()

    {

        ///<summary>
        ///Number one
        ///</summary>
        double num = double.Parse(InputString);

        ///<summary>
        ///Number two
        ///</summary>
        double num2 = double.Parse(InputString2);

        num = num * num2;

        OutputString = num.ToString();

    }

    ///<summary>
    ///Calculate the division
    ///</summary>
    private void DoDivision()

    {

        ///<summary>
        ///Number one
        ///</summary>
        double num = double.Parse(InputString);

        ///<summary>
        ///Number two
        ///</summary>
        double num2 = double.Parse(InputString2);

        if (num2 != 0)
        {
            num = num / num2;

            OutputString = num.ToString();
        }
        else
        {
            OutputString = "Did you just divide by zero? We don't do that here.";
        }

    }

}
