@page "/car"

@inherits carProgram.DoCar

<h1 style="color:black;">Used Car Dealership</h1>
<br />

<select class="btn btn-primary" style="background-color:cornflowerblue" @onclick="Camry">Toyota Camry <img src="https://www.w3schools.com/images/w3schools_green.jpg" alt="W3Schools.com"></select>
<select class="btn btn-primary" style="background-color:cornflowerblue" @onclick="MustangGT">Ford Mustang GT</select>

<br />
<br />

<p>Make: @OutputMake </p>

<p>Model: @OutputModel </p>

<p>Color: @OutputColor </p>

<p>Year: @OutputYear </p>

<p>Price: @OutputPrice </p>

<img src="/images/html5.gif" alt="HTML5 Icon" style="width:128px;height:128px;">





