@page "/car"

<h1 style="color:black;">Car</h1>
<br />

<button class="btn btn-primary" style="background-color:limegreen" @onclick="DoCar">Toyota Camry</button>

<br />

<p>Make: @Car OutputMake </p>

<p>Model: @Car OutputModel </p>

<p>Color: @Car OutputColor </p>

<p>Year: @Car OutputYear </p>

<p>Price: @Car OutputPrice </p>





@code
{

   
    public class DoCar
    {
        public string OutputMake { get; set; }

        public string OutputModel { get; set; }

        public string OutputColor { get; set; }

        public string OutputYear { get; set; }

        public string OutputPrice { get; set; }

        string make;

        string model;

        string color;

        int year;

        string price;

        public void CarOutput()
        {
            OutputMake = make.ToString();
            OutputModel = model.ToString();
            OutputColor = color.ToString();
            OutputYear = year.ToString();
            OutputPrice = price.ToString();
        }



        public void Main()

        {
            Car Toyota = new Car();

            Toyota.make = "Toyota";

            Toyota.model = "Camry";

            Toyota.color = "Gray";

            Toyota.year = 2010;

            Toyota.price = "$5,650";

            Toyota.CarOutput();



        }
    }
}