@page "/car"

@inherits carProgram.DoCar

<h1 style="color:black;">Used Car Dealership</h1>
<br />

<button class="btn btn-primary" style="background-color:cornflowerblue" @onclick="Car1">Toyota Camry '10</button>
<button class="btn btn-primary" style="background-color:cornflowerblue" @onclick="Car2">Nissan Altima '04</button>
<button class="btn btn-primary" style="background-color:cornflowerblue" @onclick="Car3">Volkswagen Tiguan '17</button>

<br />
<br />
<p>Make: @OutputMake </p>
<p>Model: @OutputModel </p>
<p>Color: @OutputColor </p>
<p>Year: @OutputYear </p>
<p>Price: @OutputPrice </p>
<p>Mileage: @OutputMileage miles </p>
<img src="@OutputURL" style="width:375px;height:250px"/>
<p>Additional Notes: @OutputNotes </p>