@page "/car"

@inherits carProgram.DoCar

<h1 style="color:black;">Used Car Dealership</h1>
<br />

<button button="btn btn-primary" style="background: https://media.ed.edmunds-media.com/toyota/camry/2010/oem/2010_toyota_camry_sedan_le_fq_oem_1_500.jpg" @onclick="Camry">Toyota Camry </button>
<button button="btn btn-primary" style="background-color:cornflowerblue;" @onclick="MustangGT">Ford Mustang GT </button>

<br />
<br />

<p>Make: @OutputMake </p>

<p>Model: @OutputModel </p>

<p>Color: @OutputColor </p>

<p>Year: @OutputYear </p>

<p>Price: @OutputPrice </p>



