@page "/car"

<h1 style="color:black;">Car</h1>



<br />

<br />

<button class="btn btn-primary" style="background-color:limegreen" @onclick="ToyotaCamry">Toyota Camry</button>

<br />

<p>Output: @OutputMake </p>

<br />

<p>Output: @OutputModel </p>

<br />

<p>Output: @OutputColor </p>

<br />

<p>Output: @OutputYear </p>

<br />

<p>Output: @OutputPrice </p>

<br />

@code

{

    private string OutputMake { get; set; }

    private string OutputModel { get; set; }
    
    private string OutputColor { get; set; }

    private string OutputYear { get; set; }
    
    private string OutputPrice { get; set; }

    

    private void ToyotaCamry()

    {

        string make = "Toyota";

        string model = "Camry";

        string color = "Gray";

        int year = 2010;

        string price = "$5,650";

        

        OutputString = make.ToString() + <br /> + model.ToString() + <br /> + color.ToString() + <br /> + year.ToString() + <br /> + price.ToString();

    }
    
    
}
