@page "/color"

@inherits colorProgram.Program

<h1 style="color:black;">Color Coding</h1>

<button class="btn btn-primary" style="background-color:limegreen" @onclick="Main">Color</button>
<button class="btn btn-primary" style="background-color:limegreen" @onclick="Red">Red</button>
<button class="btn btn-primary" style="background-color:limegreen" @onclick="Blue">Blue</button>