@page "/color"

@inherits colorsProgram.Program

<h1 style="color:black;">Color Coding</h1>

<button class="btn btn-primary" style="background-color:red" @onclick="colorCode"> What color is this? </button>

<output> Output: @finalOutput  </output>

