@page "/color"

@inherits colorsProgram.Program

<h1 style="color:black;">Color Coding</h1>

<input @bind="userInput " />

<button class="btn btn-primary" style="background-color:red" @onclick="Main">Generate Output</button>

<p>Output: @finalOutput </p>

@code
{
    
}