@page "/inchescentimeters"

@inherits centimetersProgram.Program

<h1 style="color:black;">Inches To Centimeters</h1>

<br />

<input @bind="userInput " />

<br />

<button class="btn btn-primary" style="background-color:limegreen" @onclick="CentimetersCalculator"> Convert </button>

<br />
<br />

<output> Output: @finalOutput centimeters </output>

