@page "/"

<h1>Hello everyone, I'm Aaron Jones!</h1>

Welcome to my Blazor App. This web application has several features. Please take a moment to take a look through all of them listed below:
<ul>
    <li>
        Home Page: Just a basic introduction to the website and all about me.
    </li>
    <li>
    Counter: Counter included where when a user clicks a button, then the counter goes up by one. More types of counters may be implemented as well in the future. </li>
    <li>
        Fetch Data: Receives weather forecast data from a server.
    </li>
    <li>
        Todo: A basic todo list that users can customize and edit.
    </li>
    <li>
        Calculator: A calculator tool where a user can insert two numbers and then choose whether they would like to add, subtract, multiply, or divide the numbers.
    </li>
    <li>
        IPO Calculator: An input output feature where the user inserts a number and then they can decide whether it can be doubled, tripled, squared, or cubed.
    </li>
    <li>
        BMI Calculator: A calculator that calculates your BMI based on your height in feet and inches and your weight in pounds.
    </li>
    <li>
        Car Database: An example of a used car dealership database displaying information of the cars that are for sale.
    </li>
    <li>
        Criminal Database: An example of a list of criminals which displays their basic information as long as the crimes on their records.
    </li>
    <li>
        Convert Inches: A calculator where the user puts a number displayed in inches and then converts it to a unit that is provided.
    </li>
    <li>
        Randomizer: A calculator that randomizes a value from a lower and upper value.
    </li>
    <li>
        Coin Flip: Flip a coin and find out whether the result is heads or tails.
    </li>
    <li>
        A lot of my tools that I use on this website have a good amount of user interaction with it, so have fun playing around with it.
    </li>
</ul>

<SurveyPrompt Title="Here are some pictures." />


