@page "/"

<h1>Hello everyone, I'm Aaron Jones!</h1>

Welcome to my Blazor App. This is my very own website which has certain features such as a counter, IPO, and a weather forecast.

<SurveyPrompt Title="How is Blazor working for you?" />

<Counter IncrementAmount="10" />

<h2>HTML Image</h2>
<img src="pic_trulli.jpg" alt="Trulli" width="500" height="333">

