@page "/"

<h1>Hello everyone, I'm Aaron Jones!</h1>

Welcome to my Blazor App. This web application has several features. Please take a moment to take a look through all of them listed below:
<ul>
  <li>Fetch Data - This takes some data from a weather forecast server and displays it here.</li>
  <li>Todo - Create your own todo list using this feature.</li>
  <li>Counter - A simple counter where everytime the button is pressed, the counter is incremented by 1.</li>
  <li>IPO - Input a number, then click on one of the following buttons to give you a specific output.</li>
  <li>Calculator - Input two different numbers and then find the result for either addition, subtraction, multiplication, or division.</li>
  <li>BMI - Input your height in feet and inches and then input your weight in pounds to determine what your BMI is.</li>
  <li>Car - Shows a used car dealership database with certain information about each car. Note that none of these cars are actually for sale.</li>
</ul>  

<SurveyPrompt Title="Here are some pictures." />


