@page "/"

<h1>Hello everyone, I'm Aaron Jones!</h1>

Welcome to my Blazor App. This is my very own website which has certain features such as a counter, IPO, and a weather forecast.

<SurveyPrompt Title="Here is a picture of the Alps." />

<SurveyPrompt Title="Here is Jamaica." />


