@page "/ipo"

<h1 style="color:black;">IPO Doubler</h1>

<p>Input prompt </p>

<input @bind="InputString " />

<br />

<button class="btn btn-primary" style="background-color:limegreen" @onclick="DoDouble">Double</button>
<button class="btn btn-primary" style="background-color:aqua" @onclick="DoTriple">Triple</button>
<button class="btn btn-primary" style="background-color:mediumvioletred" @onclick="DoSquared">Squared</button>
<button class="btn btn-primary" style="background-color:hotpink" @onclick="DoCubed">Cubed</button>

<p>Output: @OutputString </p>

@code

{

    private string InputString { get; set; }

    private string OutputString { get; set; }

    private void DoDouble()

    {

        double num = double.Parse(InputString);

        num = num * 2;

        OutputString = num.ToString();

    }
    
     private void DoTriple()

    {

        double num = double.Parse(InputString);

        num = num * 3;

        OutputString = num.ToString();

    }

    private void DoSquared()

    {

        double num = double.Parse(InputString);

        num = num * num;

        OutputString = num.ToString();

    }

     private void DoCubed()

    {

        double num = double.Parse(InputString);

        num = num * num * num;

        OutputString = num.ToString();

    }

}
