@page "/ipo"

<h1 style="color:black;">IPO</h1>

<p>Input number </p>

<input @bind="InputString " />

<br />

<br />

<button class="btn btn-primary" style="background-color:limegreen" @onclick="DoDouble">Double</button>
<button class="btn btn-primary" style="background-color:aqua" @onclick="DoTriple">Triple</button>
<button class="btn btn-primary" style="background-color:mediumvioletred" @onclick="DoSquared">Squared</button>
<button class="btn btn-primary" style="background-color:hotpink" @onclick="DoCubed">Cubed</button>

<br />

<p>Output: @OutputString </p>

@code

{

    ///<summary>
    ///Input number
    ///</summary>
    private string InputString { get; set; }

    ///<summary>
    ///Output number
    ///</summary>
    private string OutputString { get; set; }

    ///<summary>
    ///Double calculator
    ///</summary>
    private void DoDouble()

    {
        ///<summary>
        ///number
        ///</summary>
        double num = double.Parse(InputString);

        num = num * 2;

        OutputString = num.ToString();

    }

    ///<summary>
    ///Triple calculator
    ///</summary>
    private void DoTriple()

    {
        ///<summary>
        ///number
        ///</summary>
        double num = double.Parse(InputString);

        num = num * 3;

        OutputString = num.ToString();

    }

    ///<summary>
    ///Squared calculator
    ///</summary>
    private void DoSquared()

    {
        ///<summary>
        ///number
        ///</summary>
        double num = double.Parse(InputString);

        num = num * num;

        OutputString = num.ToString();

    }

    ///<summary>
    ///Cubed calculator
    ///</summary>
    private void DoCubed()

    {
        ///<summary>
        ///number
        ///</summary>
        double num = double.Parse(InputString);

        num = num * num * num;

        OutputString = num.ToString();

    }

}
