@page "/randomizer"

<h1>Randomizer</h1>

<p>Min value </p>

<input @bind="InputString " />

<br />

<p>Max value </p>

<input @bind="InputString2 " />

<br />

<br />

<button class="btn btn-primary" style="background-color:red" @onclick="Random">Random</button>


<br />

<p>Output: @OutputString </p>

@code

{
        //Inputs and Outputs

    private int InputString { get; set; } //first input, should be <= (less than or equal to) the second input

    private int InputString2 { get; set; } //second input

    private string OutputString { get; set; } //output


    //Randomizer Calculator

    /// <summary>
    /// Takes two numbers and generates a random number within a range of two numbers being the minimum and maximum number
    /// </summary>
    private void Random()

    {

        Random rd = new Random();

        if (InputString > InputString2) //if first input is greater than the second
        {
            OutputString = "Invalid input. You cannot make the first number larger than the second. Please try again.";
        }
        else
        {
            int randomnumber = rd.Next(InputString, 1+InputString2); //int new variable to store random number
            OutputString = randomnumber.ToString(); //convert int to string
        }

    }



}
