@page "/randomizer"

<h1>Randomizer</h1>

<p>Min value </p>

<input @bind="InputString " />

<br />

<p>Max value </p>

<input @bind="InputString2 " />

<br />

<br />

<button class="btn btn-primary" style="background-color:red" @onclick="Random">Random</button>


<br />

<p>Output: @OutputString </p>

@code

{
        //Inputs and Outputs

    private int InputString { get; set; } //first input, should be <= than the second input

    private int InputString2 { get; set; } //second input

    private int OutputString { get; set; }


    //Randomizer Calculator


    private void Random()

    {

        Random rd = new Random();

        if (InputString > InputString2)
        {
            Console.WriteLine("Invalid input. You cannot make the first number larger than the second. Please try again.");
        }
        else
        {
            OutputString = rd.Next(InputString, InputString2);
        }

    }



}
