@page "/salary"

@inherits SalaryProgram.TestInheritance



<h3>Salaries Average</h3>


<h1 style="color:black;">Salary Average</h1>


<button class="btn btn-primary" style="background-color:palevioletred" @onclick="Main">Programmer Average</button>

<br />

<p>Output: @Main</p>

