@page "/usedcars"

<h1>UsedCars</h1>



@code

{


    public class Car
{
	public string make = "";
	public string model = "";
	public string color = "";
	public string year = "";

	public void print()
	{
		Console.Write("Make: ");
		Console.Write(make);
		Console.Write("\n");
		Console.Write("Model: ");
		Console.Write(model);
		Console.Write("\n");
		Console.Write("Color: ");
		Console.Write(color);
		Console.Write("\n");
		Console.Write("Year: ");
		Console.Write(year);
		Console.Write("\n");
	}

}

public static class GlobalMembers
{
	internal static void Main()
	{
		Car myCar = new Car();
		myCar.make = "Toyota";
		myCar.model = "Corolla";
		myCar.color = "Blue";
		myCar.year = "2018";

		myCar.print();

	}
}

}
