<div class="alert alert-secondary mt-4" role="alert">
    <span class="oi oi-camera-slr" aria-hidden="true"></span>
    <strong>@Title</strong>

    <span class="text-nowrap">
        <img src="https://www.pbs.org/wnet/nature/files/2021/01/pexels-denis-linine-714258.png" alt="The Alps" style="width:900px;height:500px;">
        <br>
        <h1> "And here is Jamaica."</h1>
        <img src="https://media.wsimag.com/attachments/0df031c273793f75be23b9010507030dcaaa82e6/store/fill/1090/613/24140289eafa892ad867790b53dfb3c307ad960e5404a588eebc781a493b/Jamaica-rum-capital-of-the-world.jpg" alt="Jamaica" style="width:900px;height:500px;">
    </span>
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string Title { get; set; }
}
