<div class="alert alert-secondary mt-4" role="alert">
    <span class="oi oi-camera-slr" aria-hidden="true"></span>
    <strong>@Title</strong>

    <span class="text-nowrap">
        <img src="https://www.pbs.org/wnet/nature/files/2021/01/pexels-denis-linine-714258.png" alt="The Alps">
    </span>
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string Title { get; set; }
}
